body {
  cursor: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-color: #000000;
  background-position: center;
  background-attachment: fixed;
  font-family: "assets/fonts/black-mango.ttf", blackMango; /* Replace 'YourCustomFont' with your custom font name */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.social-icons li {
  margin: 0 10px; /* Adjust as needed */
}

.social-icons a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #333;
  border-radius: 50%;
  font-size: 20px;
  color: #666;
  transition: 0.5s;
}

.social-icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffe600;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.social-icons a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffe600;
}

.social-icons a:hover {
  color: #ffe600;
  box-shadow: 0 0 5px #ffe600;
  text-shadow: 0 0 5px #ffe600;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
